//@import "./../../common.scss";

$darks: (
  pink: unquote('#8A466C'),
  purple: unquote('#655186'),
  blue: unquote('#426980'),
  teal: unquote('#87B4BD'),
  green: unquote('#406F68'),
  mint: unquote('#6BB092'),
  orange: unquote('#DE856F'),
  white: unquote('#FFFFFF')
);

$lights: (
  pink: unquote('#DCC8D3'),
  purple: unquote('#D1CCDB'),
  blue: unquote('#C7D2D9'),
  teal: unquote('#D9ECE6'),
  green: unquote('#C3D3CF'),
  mint: unquote('#CBECDA'),
  orange: unquote('#EBD4CD'),
  white: unquote('#FFFFFF')
);

$highlights: (
  pink: unquote('#C6659B66'),
  purple: unquote('#8369AE66'),
  blue: unquote('#598EAD66'),
  teal: unquote('#9CCFDA66'),
  green: unquote('#5A9D9366'),
  mint: unquote('#84D7B266'),
  orange: unquote('#F5957E66')
);

@mixin color-tag($color) {
  background: #{map-get($darks, $color)};
  color: #{map-get($lights, $color)};
}

@mixin highlight-color-tag($color) {
  background: #{map-get($highlights, $color)};
  color: #2F3437;
}


.tag {
  height: 20px;
  display: inline-flex;
  padding: 1px 8px;
  margin: 2px 4px 2px 0;
  border-radius: 4px;
  font: 400 14px Lato;
  transition: 0.3s ease-in-out;
  background: #{map-get($darks, blue)};
  color: #{map-get($lights, blue)};

  .x {
    font: 300 9px Lato;
    padding: 0 0 0 6px;
    color: rgba(white, 0.4);
    line-height: 20px;
  }

  &.Visual { @include color-tag(pink) }
  &.UI { @include color-tag(purple) }
  &.Branding { @include color-tag(blue) }
  &.UX { @include color-tag(teal) }
  &.Web { @include color-tag(green) }
  &.Mobile { @include color-tag(mint) }
  &.Prototyping { @include color-tag(orange) }

  &.light {
    background: #{map-get($highlights, blue)};
    color: #2F3437;
    &.Visual { @include highlight-color-tag(pink) }
    &.UI { @include highlight-color-tag(purple) }
    &.Branding { @include highlight-color-tag(blue) }
    &.UX { @include highlight-color-tag(teal) }
    &.Web { @include highlight-color-tag(green) }
    &.Mobile { @include highlight-color-tag(mint) }
    &.Prototyping { @include highlight-color-tag(orange) }

    &.photo { color: white }

    .x { color: #2F3437 }
  }
}
