@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.fact {
  padding: 8px 10px;
  margin: 5px;
  min-width: calc(25% - 10px);
  flex: 1 1 160px;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 6px;
  border: 1.5px solid #D4D2D0;
  transition: 0.3s ease-in-out;
  background: #F7F4ED;

  @media (max-width: 440px) {
    width: calc(100% - 40px);
    padding: 20px;
  }

  &.reverse { text-align: right}

  .fact-image {
    height: 400px;
    margin: 10px 0;
    img { height: 100% }
  }

  &:hover {
    box-shadow: 0 3px 30px rgba(0,0,0,0.15);
    background: #F7F4ED;
    transform: translateY(-4px);
  }
}
