@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.fact {
  // width: 33%;
  padding: 30px;
  // text-align: center;
  // //margin: 0 auto;
  // flex: 1;
  //height: 550px;
  flex-basis: 32%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-between;

  @media (max-width: 440px) {
    width: calc(100% - 40px);
    padding: 20px;
  }

  &.reverse { text-align: right}

  h5 {
    font: 400 24px Playfair Display;
    color: #598EAD;
    margin: 12px 0;
    line-height: 44px;
  }

  .fact-image {
    height: 400px;
    margin: 40px 0;
    img { height: 100% }
  }
}
