@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.fact {
  padding: 8px 10px;
  margin: 5px;
  min-width: calc(25% - 10px);
  flex: 1 1 160px;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid rgb(222, 222, 222);
  transition: 0.3s ease-in-out;

  @media (max-width: 440px) {
    width: calc(100% - 40px);
    padding: 20px;
  }

  &.reverse { text-align: right}

  .fact-image {
    height: 400px;
    margin: 10px 0;
    img { height: 100% }
  }

  &:hover {
    box-shadow: 0 2px 12px 2px #EFEFEF;
    background: rgba(239, 239, 239, 0.3);
    transform: translateY(-4px);
  }
}
