.elsewhere {
  transform: translate(-5px, 180px);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  .else {
    display: block;
    padding: 5px;
    width: 32px;
    height: 32px;
    &:hover {
      animation: spin 0.5s;
    }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
