.preview-tile-appear {
  opacity: 0.01;
  transform: translateY(30px);
  &.preview-tile-appear-active {
    opacity: 1;
    transition: .5s ease-in-out;
    transform: initial;
  }
}

.preview {
  width: calc(100% - 10px);
  height: 338px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #2F3437;
  font-family: -apple-system, system-ui, Lato, Helvetica;

  a { color: #2F3437; }

  background: white;
  border-radius: 6px;
  border: 1px solid #DEDEDE;

  &:hover {
    @media (min-width: 500px) {
      box-shadow: 0 2px 12px 2px #EFEFEF;
      background: lightgray;
      transform: translateY(-4px);
    }
    img {
      transform: scale(1.02);
    }
  }

  .image {
    flex: 70%;
    height: calc(100% - 16px);
    margin: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    img {
      height: 100%;
      width: auto;
      transition: 0.3s ease-in-out;
    }
  }

  .description {
    flex: 30%;
    height: calc(100% - 16px);
    margin: 8px;

    .title {
      font-weight: 500;
      font-size: 20px;
    }

    .tags { margin: 8px 0; }

    .blurb {
      p {
        padding: 4px 0;
        font-weight: 200;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  @media (max-width: 700px) {
    display: block;
    height: auto;
    .image {
      width: auto;
      max-height: 300px;
      img {
        width: 100%;
      }
    }
    .description {
      width: 100%;
      .blurb { margin-bottom: 0 }
    }
  }


  @media (max-width: 500px) {
    .description, .image { margin: 0 }
    border: none;
  }

}
