@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.city-image-appear {
  opacity: 0.01;
  &.city-image-appear-active {
    opacity: 1;
    transition: opacity .7s ease-in;
  }
}

.city {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  margin-left: -10px;
  &:hover {
    background: rgba(#EFEFEF, 0.3);
    @media (max-width: 900px) { background: initial }
  }
  .city-name {
    font: 400 28px Playfair Display;
    color: #598EAD;
    margin-bottom: 4px;
  }
  .details {
    margin-bottom: 4px;
    .date {
      font: 400 14px Lato;
      display: inline-block;
    }
  }
  img {
    width: 100%;
    margin: 4px 0;
  }

  @media (max-width: 900px) {
    width: calc(100% - 20px);
    margin-left: initial;
    padding: 0;
  }

}
