.photo-set {
  height: auto;
  position: relative;

  .photo-entry-list {
    width: calc(100% - 15px);
    height: auto;
    background: rgba(#BCD2DE, 0.8);
    border-radius: 0 0 10px 10px;
    margin-left: -10px;
    margin-top: -20px;

    .photo-entry {
      border-top: 1px solid rgb(222, 222, 222);
      border-bottom: 1px solid rgb(222, 222, 222);
      height: 120px;
      width: calc(100% - 56px);
      padding: 28px;
      margin: 0;

    }
  }

}
