@import url('https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,800');

.header-appear {
  opacity: 0.01;
  transform: translateY(-20px);
}

.header-appear.header-appear-active {
  opacity: 1;
  transition: .4s ease-in;
  transform: initial;
}

.header {
  width: 100vw;
  background: white;
  height: auto;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  font-family: -apple-system, system-ui, Lato, Helvetica;

  .header-center {
    width: 1000px;
    padding: 20px 0 10px 0;
    margin: 0 auto;

    @media (max-width: 1040px) {
      margin: 0 20px;
      width: calc(100vw - 40px);
      left: 0;
      background: white;
    }

    @media (max-width: 500px) {
      margin: 0 20px;
      margin-left: 20px;
      padding: 20px 0 10px 0;
    }

    .logo {
      font: 600 16px Playfair Display;
      float: left;
      fill: get(atom);
      stroke: get(atom);
      margin-top: 4px;
      color: #2F3437;
      padding: 6px 0;
      width: 30px;

      @media (max-width: 700px) {
        margin-left: 0;
      }
    }

    .header-item {
      font-family: inherit;
      float: right;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      padding: 6px 4px;
      border-bottom-color: transparent;

      &.active {
        .header-item-content {
          color: #426980;
          font-weight: 500;
        }
      }

      @media (max-width: 700px) {
        display: none;
      }

      .header-item-content {
        border-radius: 3px;
        background: transparent;
        padding: 4px 7px;
        transition: background 0.2s ease-in-out;
        border-bottom-color: transparent;
        color: #5F6468;

        &:hover {
          background: #EFEFEF;
          //color: #2F3437;
        }
      }

    }

    .hamburger {
      font-size: 28px;
      line-height: 39px;
      text-align: right;
      display: none;
      z-index: 1001;
      cursor: pointer;
      @media (max-width: 700px) {
        display: block;
      }
      span {
        font-size: 40px;
        display: inline-block;
        &:hover {
          animation: spin 0.5s;
        }
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
  }

}

.mobile_header {
  font-family: -apple-system, system-ui, Lato, Helvetica;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: white;
  position: fixed;
  top: 0;
  padding: 180px 0;

  @media (min-width: 700px) {
    display: none;
  }

  .mobile-header-item {
    padding: 20px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #2F3437;

    .mobile-header-item-content {
      border-radius: 3px;
      background: transparent;
      padding: 4px 8px;
      transition: background 0.2s ease-in-out;
      display: inline-block;
    }


  }
}
