html {
  background: white;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    a {
      color: #598EAD;
      padding: 1px 4px;
      cursor: pointer;
      border-radius: 2px;
      transition: 0.3s ease-in-out;
      &.preview { color: #5F6468 }
      &:hover {
        color: #426980;
        background: rgba(#BCD2DE, 0.8);
        &.preview {
          color: #2F3437;
          background: rgba(#EFEFEF, 0.3);
        }
      }
    }
    .container {
      margin: 120px auto;
      width: 800px;
      color: #2F3437;
      &.filter {
        margin-bottom: 20px;
      }
    }
    .grid {
      margin: 0 auto;
      width: 1260px;
    }
    .intro-wrapper {
      height: 100vh;
      display: flex;
      flex-flow: column;
      .intro {
        height: auto;
        width: 800px;
        margin: 120px auto 30px;
      }
      .bottom {
        width: 100vw;
        margin: 0 auto;
        background: #BCD2DE;
        flex-grow: 1;
      }
    }
    h1 {
      font: 500 32px Lato;
      color: #2F3437;
      letter-spacing: initial;
      margin-top: 0;
    }
    h4 {
      font: 400 18px Lato;
      color: #2F3437;
      letter-spacing: initial;
      line-height: 34px;
    }

    .me-wrapper {
      height: 400px;
      box-shadow: none;
    }

    .facts {
      width: 100%;
      margin-left: -40px;
      padding: 5px 40px;
      background: #BCD2DE;
    }
    .divider {
      background: #DFDFDE;
    }
  }
}
