@import "./../../../common.scss";

.FilterHeader {
  font: 400 14px Lato;
  color: get(dust);
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;

  .label { padding: 0 8px; margin-top: -4px;}

  &:hover {
    background: #474c50;
  }

  input {
    background: #3f4447;
    border: 0 solid #3f4447;

    &:focus{
      outline: none;
    }
  }
}
