@import "./../../../common.scss";

.FilterHeader {
  font: 400 14px Lato;
  color: get(dust);
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  padding: 2px 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;

  .label { padding: 0 8px; margin-top: -4px;}

  &:hover {
    background: #474c50;
  }

  &.showBody {
    background: #3f4447;
    border-radius: 3px 3px 0 0;
    width: 100%;
  }

  .filter-close.x {
    margin-left: auto;
    padding-right: 8px;
    color: rgba(white, 0.4);
  }

  input {
    background: #3f4447;
    border: 0 solid #3f4447;

    &:focus{
      outline: none;
    }
  }
}
